* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo-image {
  width: 25px;
  height: 25px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  margin-left: 250px;
  margin-right: 350px;
}

.nav-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

.nav-link:hover {
  border-bottom: 2px solid grey;
}

#title {
  background-color: #fffc00;
  padding: 60px 0;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: "Helvetica";
  padding-bottom: 100px;
}

.title-image {
  width: 450px;
  height: 350px;
}

.title-text-left {
  width: 200px;
  align-items: center;
  margin: auto;
}

.title-text-center {
  width: 200px;
  height: 70px;
  margin: auto;
}

.title-text-right {
  width: 200px;
  height: 70px;
  margin: auto;
}

#title div {
  display: flex;
}

.title-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 30px;
  text-align: center;
  padding: 10px 0;
}

input {
  margin-top: 70px;
  margin-left: 670px;
  background-color: white;
  color: #262626;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 15px 50px;
  text-align: center;
  cursor: pointer;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-weight: bold;
  box-shadow: none;
}

#card {
  padding: 50px 0;
}

.card-box {
  display: flex;
  margin: 0 170px;
  justify-content: space-between;
}

.card-column {
  display: flex;
  flex-direction: column;
}

.card-column ul li {
  list-style: none;
  padding: 5px 0;
  font-size: 14px;
}

.card-column ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card-column ul li a:hover {
  color: black;
  cursor: pointer;
}

.card-language ul li {
  margin: 0 170px;
  list-style: none;
  font-size: 14px;
  padding: 5px 0;
}

select {
  width: 170px;
  height: 30px;
  border-radius: 5px;
  margin-left: 170px;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

footer {
  background-color: rgba(0, 0, 0, 0.87);
}

footer ul {
  display: flex;
  margin: 0 120px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: white;
  font-size: 15px;
  padding-left: 50px;
  line-height: 56px;

  text-decoration: none;
  font-weight: lighter;
  cursor: pointer;
}
